@charset "utf-8";
/* CSS Document */

/*
	use: 페이지컨텐츠
*/


/* common */

.fvtb_w{position:relative;overflow:hidden;border-top:1px solid #d9d9d9;}
.fvtb{width:100%;}
.fvtb > thead > tr > th{border-bottom:1px solid #585858;color:#1b1b1b;font-size:13px;font-family: 'NotoSans-Medium';padding:12px 0;}
.fvtb > thead > tr > th:last-of-type{border-right:0}
.fvtb > tbody > tr > th,
.fvtb > tbody > tr > td{padding:12px;border-bottom:1px solid #d9d9d9;text-align:left;}
.fvtb > tbody > tr > th{background:#f9f9f9;padding-left:10px;padding-right:10px; text-align: center;}
.fvtb > tbody > tr > th{width:28%;}
.fvtb > tbody > tr > td{}
.fvtb > tbody > tr > td.type2{padding:0;}
.fvtb > tbody td.has_fitem{padding:7.5px 11.5px;font-size:0;line-height:0;}
.fvth_sp{position:relative;display:inline-block;white-space:nowrap;color:#1b1b1b;font-size:13px;position:relative;line-height:1.2;}
.fvth_else_wrap{margin-top:10px;font-size:0;line-height:0;}
.marking_item{display:inline-flex;gap:5px;align-items: center;}
.marking_item .ico{width:15px;height:15px; flex:0 0 15px; background:#13d5aa url("../images/ico_chkimg.png") no-repeat 50% 50%/100% auto; border-radius: 100%;}
.marking_text{display:inline-block; color:#1b1b1b; line-height:1; font-size:13px; position:relative;top:-1px;}


.pmid_section.main_sec{position:relative; overflow:hidden; padding:50px 0 0; flex:1; min-height:0;display:flex;}
.mcmenu_list{flex:1; min-height:100%;display:flex;flex-wrap:wrap;background:#fff;border:1px solid #cecece;overflow:hidden;position:relative;margin:-1px;}
.mcmenu{flex:1 0 50%;padding:10px 10px 5px 15px;box-sizing:border-box;border-right:1px solid #cecece;border-bottom:1px solid #cecece; display:flex; flex-direction: column; justify-content: space-between;}
.mcmenu:nth-of-type(2n){border-right:0;}
.mcmenu:last-of-type{border-bottom:0;}
.mcmenu.mcmenu09{border-bottom:0;}
.mcmenu_low01{}
.mcmenu_low02{text-align:right;}
.mcmenu_low02:after{display:inline-block;content:'';width:50px;height:50px;background:url("../images/ico_main.png") no-repeat 0 0/cover;}
.mcmenu_text{display:inline-block;font-size:15px;color:#1b1b1b;vertical-align: middle;}
.mcmenu_curnum{background:#0ecca2;vertical-align:middle;min-width:22px;font-size:12px;height:22px;line-height:22px;display:inline-block;text-align:center;color:#fff;border-radius:100%;}
.mcmenu.mcmenu01 .mcmenu_low02:after{background-position:0 0;}
.mcmenu.mcmenu02 .mcmenu_low02:after{background-position:0 -50px;}
.mcmenu.mcmenu03 .mcmenu_low02:after{background-position:0 -100px;}
.mcmenu.mcmenu04 .mcmenu_low02:after{background-position:0 -150px;}
.mcmenu.mcmenu05 .mcmenu_low02:after{background-position:0 -200px;}
.mcmenu.mcmenu06 .mcmenu_low02:after{background-position:0 -250px;}
.mcmenu.mcmenu07 .mcmenu_low02:after{background-position:0 -300px;}
.mcmenu.mcmenu08 .mcmenu_low02:after{background-position:0 -350px;}
.mcmenu.mcmenu09 .mcmenu_low02:after{background-position:0 -400px;}
.mcmenu.mcmenu10 .mcmenu_low02:after{background-position:0 -450px;}

/* .btn_botpsm_w{text-align:right;margin:25px 0 0 0}
.btn_botpsm{display:inline-block;background:#f8f8f8;border-radius:100px;border:1px solid #858585;padding:8px 15px 10px;font-size:0;line-height:0;}
.botpsm_in{display:inline-block;position:relative;padding-left:20px;font-size:14px;line-height:1;min-height:12px;}
.botpsm_in:before{display:block;content:'';width:15px;height:11px;background:url("../images/ico_down.png") no-repeat 0 0/cover;position:absolute;top:2px;left:0;}
.btn_botpsm.ico_psm .botpsm_in:before{} */

.btn_bottom_wrap{margin:35px 20px 0; display:flex; gap:10px;}
.btn_submit_box{display:flex; justify-content: center; align-items: center; min-height:56px; box-sizing: border-box; padding:10px;border-radius: 100px; background:#13d5aa;width:100%;}
.btn_submit_box.skin2{background:#7f9691;}
.btn_submit_text{font-size:18px; color:#fff; display:inline-block;position:relative;top:-1px; font-weight:500;}


.btn_fakefile{background:#4b4b4b;color:#fff;border-radius:5px;padding:6px 10px 7px;white-space: nowrap;font-size:12px;display:inline-block;line-height:1;}
.btn_smzf{background:#4b4b4b;color:#fff;margin-right:0;border-radius:5px;padding:6px 16px;white-space: nowrap;font-size:12px;display:inline-block;}
.btn_smzf:last-of-type{margin-right:5px;}
.fkef_file{display:none;}
.btn_like_w{text-align:right;margin-top:20px;}

.fileui_tb{display:table;width:100%;font-size:0;line-height:0;}
.fileui_td{display:table-cell;vertical-align: middle;}
.fileui_td.has_btn{width:1px;}
.fileui_td.has_btn .btn_fakefile{display:inline-block;}
.filename_para{font-size:13px;color:#333;line-height:1.3;padding:0 10px;}

.cont_form_wrap{margin:25px 20px 0;}
.fileui_tb_w{padding-bottom:10px;}
.file_form_group{margin-top:10px;}
.acitem_w.active .accont_w{display:block;}
.fvdata_txt{display:inline-block;margin-right:20px;}
.fvdata_txt:last-of-type{margin-right:0;}
.acitem_w.has_replay_w.active .acitin{display:block;}

.tbsk_tb_w{border-top:1px solid #000;}
.tbsk_tb_w.mtype2{margin:0 -15px;}
.tbsk_tb{width:100%;color:#2b2b2b;font-size:12px;text-align:center;table-layout: fixed;}
.tbsk_tb thead th{border-bottom:1px solid #000;border-right:1px solid #d9d9d9;padding:10px 0;color:#1b1b1b;font-family: 'NotoSans-Medium';background:#f9f9f9;}
.tbsk_tb thead th:last-of-type{border-right:0}
.tbsk_tb tbody th,
.tbsk_tb tbody td{border-bottom:1px solid #d9d9d9;padding:10px 0;border-right:1px solid #d9d9d9;}
.tbsk_tb tbody th{font-family: 'NotoSans-Medium';}
.tbsk_tb tfoot td.bg_type2,
.tbsk_tb tbody td.bg_type2{background-color:#f9f9f9}
.tbsk_tb tbody tr td:last-of-type{border-right:0}
.tbsk_tb td.has_hvico{font-size:0;line-height:0;}
.tbsk_tb td.align_right{text-align: right;padding:10px;}
.tbsk_tb tfoot th,
.tbsk_tb tfoot td{border-top:1px solid #000;border-bottom:1px solid #d9d9d9;padding:10px 0;border-right:1px solid #d9d9d9;position:relative;}
.tbsk_tb tfoot tr td.bg_line{background:#000;height:1px;font-size:0;line-height:0;}
.ctb_w01{width:22%;}
.ctb_w02{}
.ctb_w03{width:22%;}
.ctb_w04{}

.ctb2_w01{}
.ctb2_w02{width:22%;}
.ctb2_w03{width:22%;}
.tbsk_tb td.tb_data{display:table-cell;text-align:left;padding-left:10px;padding-right:10px;}
.tbsk_tb td.has_data{text-align:left;padding-left:10px;padding-right:10px;}
.btn_ctblink{display:inline-block;background:#4b4b4b;color:#fff;border-radius:5px;padding:6px 10px;white-space: nowrap;line-height:1;font-size:12px;}
.tb_data{display:inline-block;line-height:1.3;font-size:12px;}


.cont_block_wrap{}
.cont_block_title{margin:0 15px 10px; font-size:14px; color:#1b1b1b; font-weight:500;}
.cont_block{margin-bottom:18px;}
.cont_block:last-of-type{margin-bottom:0;}


select.dsel{width:100%;color:#2b2b2b;border:1px solid #bbb;font-size:13px;height: 35px;padding: 0 35px 0 10px;box-sizing:border-box;
	background: #fff url("../images/ico_sel.png") no-repeat 100% 50%/22.5px auto;line-height: 27px;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select.dsel::-ms-value {background: none; color:#222;}
select.dsel::-ms-expand {display: none;}
.dsel::-ms-value {
	background: none; 
	color:#2b2b2b;
}
select.dsel:disabled{background-color:#f7f7f7;color:#999999;;opacity:1;}
	


input.fvint{border:1px solid #bbbbbb;height:35px;padding:0 10px;line-height:1;box-sizing:border-box;width:100%;font-size:13px;color:#2b2b2b;}
input.fvint.aright{text-align: right;}
.fvint.short_count{text-align: center;}
input.fvint:disabled,
input.fvint:read-only{background:#f7f7f7;color:#999999;opacity:1;}
textarea.fvta{height:50px;}




input.input_calendar{border:1px solid #bbbbbb;height:35px;padding:0 10px;line-height:1;box-sizing:border-box;width:100%;font-size:13px;color:#2b2b2b;background:#fff;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;outline:0;
}
input::-webkit-date-and-time-value{ text-align:left; }
input.input_calendar::-webkit-calendar-picker-indicator {
display: none;
}

input.input_calendar::-webkit-date-and-time-value {
text-align: left;
}

input.input_calendar:focus{border-color:#000;}

input.input_calendar:disabled,
input.input_calendar:read-only{background:#f7f7f7;color:#999999;opacity:1;}

input.input_time{border:1px solid #bbbbbb;height:35px;padding:0 10px;line-height:1;box-sizing:border-box;width:100%;font-size:12px;color:#2b2b2b;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;outline:0;
}
input.input_time::-webkit-calendar-picker-indicator {
display: none;
}

input.input_time::-webkit-date-and-time-value {
text-align: left;
}

input.input_time:focus{border-color:#000;}

input.input_time:disabled,
input.input_time:read-only{background:#f7f7f7;color:#999999;opacity:1;}


.inline_form_list{display:flex; align-items: center;}
.inline_form_list > li{}
.inline_form_list > li.else{padding:0 8px;}
.inline_else_text{font-size:13px;color:#2b2b2b; display:inline-block;line-height:1;}

.mark_tb_wrap{}
.mark_tb{width:100%; text-align: center; table-layout: fixed;}
.mark_tb tbody{} 
.mark_tb tbody th{background:#0dc49b; color:#fff; border-bottom:1px solid #a6e3d1; border-top:1px solid #d9d9d9; border-left:1px solid #a6e3d1; border-right:1px solid #a6e3d1; padding:5px 5px 6px;} 
.mark_tb tbody th:first-of-type{border-left:1px solid #d9d9d9;}
.mark_tb tbody th:last-of-type{border-right:1px solid #d9d9d9;}
.mark_tb tbody{} 
.mark_tb tbody td{border:1px solid #d9d9d9; padding:5px;} 
.mark_tb tbody td .marking_item{} 
.mark_thtext{display:inline-block; color:#ffffff; font-size:13px; line-height:1;}